body {
    background-color: #225522;
    overflow: hidden;
}

.card-pile {
    height: 200px;
    padding: 10px 5px;
}
.card-pile > div {
    border: 3px solid #228833;
    background-color: #bada55;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 100%;
}

.card {
    height: 174px;
    background-color: #fefefe;
    border: 2px solid #222;
    padding: 0 10px;
    font-size: 200%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.card-pile.highlight > div {
    background-color: #ffff99;
}

.card.highlight {
    background-color: #ffff99;
}

.card.faceUp {
    cursor: pointer;
}

.stock {
    cursor: pointer;
}

.card.faceDown  {
    background-color: #aaa;
    background: #aaa url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAUElEQVQYV2NkYGAwBuKzQAwDID4IoIgxIikAMZE1oRiArBDdZBSNMIXoJiFbDZYDKcSmCOYimDuNSVKIzRNYrUYOFuQgweoZbIoxgoeoAAcAEckW11HVTfcAAAAASUVORK5CYII=) repeat;
}
.card.faceDown * {
    display: none;
}

.stock .card,.waste .card,.foundation .card{
    position: relative;
    top: 0;
}

.tableau .card {
    position: relative;
}

.klondike-board {
    max-width: 1000px;
}
